body, table, th, td, a {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
body {
   background: #4A4A4A;
   color: #000000;
   text-align: center;
}
a:link, a:visited {
   color: #828282;
   text-decoration: none;
}
a:active, a:hover {
   color: #000000;
   text-decoration: none;
}
img {
   border: none;
}
table {
   background: #F1F1F1;
   border: none;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}
td {   
   text-align: center;
}
table.container {
   background: transparent;
}
table.outertable {
   border: 1px solid #353535;
}
th.header {
   background: url(header.png);
   color: #BFBFBF;
   font-size: 22px;
   font-weight: bold;
   height: 45px;
   padding: 0 10px 0 10px;
   vertical-align: middle;
   text-align: left;
}
td.secheader {
   background: #BFBFBF;
   border-bottom: 1px solid #A6A6A6;
   color: #828282;
   font-size: 16px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-align: left;
}
td.content {
   padding: 10px;
   vertical-align: middle;
}
td.thumbs {
   color: #000000;
   font-size: 10px;
   width: 10em;
   vertical-align: baseline;
   padding: 10px 5px 5px 5px;
}
td.navi {
   background: #BFBFBF;
   border-bottom: 1px solid #A6A6A6;
   color: #828282;
   font-size: 12px;
   padding: 5px;
}
td.desc {
   background: #BFBFBF;
   border-top: 1px solid #A6A6A6;
   color: #000000;
   font-size: 12px;
   padding: 5px;
   text-align: center;
}
td.footer {
   background: #4A4A4A;
   color: #808080;
   font-size: 10px;
   padding: 10px;
}