body, table, th, td, a {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
body {
   background: #dadada;
   color: #000000;
}
a:link, a:visited {
   color: #64643c;
}
a:active, a:hover {
   color: #000000;
}
img {
 border: none;
}
table {
 background: #ffffff;
 border: none;
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
}
div.center {
 width: auto;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}
table.outertable {
   border: 1px solid #b1b13c;
}
th.header {
   background: url(header.png);
   color: #64643c;
   font-size: 22px;
   font-weight: bold;
   height: 53px;
   padding: 0 10px 0 10px;
   vertical-align: middle;
   text-align: left;
}
td.content {
   padding: 10px 10px 0 10px;
   vertical-align: middle;
   font-size: 12px;
}
td.footer {
   color: #808080;
   font-size: 10px;
   padding: 20px 10px 10px 10px;
}
td.thumbs {
   color: #000000;
   font-size: 10px;
   width: 10em;
   vertical-align: baseline;
   padding: 10px 5px 5px 5px;
}
td.navi {
   font-size: 12px;
   padding: 10px;
}
